<!--
 Created by kui.liu on 2014/05/20 17:07.
-->
<!DOCTYPE html>
<html ng-app="sortableApp">
<head>
    <title>sortable demo</title>
    <style>
        ul li{
            cursor: pointer;
        }

    </style>
</head>
<body ng-controller="SortableListCtrl">
<div>
    <ul>
        <li ui-draggable="draggableOptions" ng-repeat="li in sortList1"><a href="#"><span ng-bind="li.name"></span></a></li>
    </ul>

    <ul ui-sortable ng-model="sortList2" class="container">
        <li ng-repeat="li in sortList2 track by $index"><span ng-bind="li"></span></li>
    </ul>

    {{sortList2}}
</div>

</body>
<script type="text/javascript">
    // dynamically add base tag as well as css and javascript files.
    // we can't add css/js the usual way, because some browsers (FF) eagerly prefetch resources
    // before the base attribute is added, causing 404 and terribly slow loading of the docs app.
    (function () {
        var headEl = document.getElementsByTagName('head')[0], sync = true,
            pathName = window.document.location.pathname,
            projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1),
            webRoot = projectName + "/src/js/",

            addTag = function (name, attributes, sync) {
                var el = document.createElement(name), attrName;

                for (attrName in attributes) {
                    el.setAttribute(attrName, webRoot + attributes[attrName]);
                }

                sync ? document.write(outerHTML(el)) : headEl.appendChild(el);
            },

            outerHTML = function (node) {
                // if IE, Chrome take the internal method otherwise build one
                return node.outerHTML || (function (n) {
                    var div = document.createElement('div'), h;
                    div.appendChild(n);
                    h = div.innerHTML;
                    div = null;
                    return h;
                })(node);
            };

        addTag('base', {href: webRoot});
        addTag('script', {src: 'lib/jquery/jquery-1.11.1.min.js' }, sync);
        addTag('script', {src: 'lib/jquery-ui/js/jquery-ui-1.10.4.min.js' }, sync);
        addTag('script', {src: 'lib/angular/angular-1.2.16.min.js' }, sync);
        addTag('script', {src: 'directives.js' }, sync);
//        addTag('script', {src: 'lib/angular-ui/ui.sortable-1.2.6.js' }, sync);
        addTag('script', {src: 'controllers/DemoCtrl.js' }, sync);
    })();
</script>
</html>