<div class="rightContain rcBottom rcbMobile">
    <div ng-include="fileRoot+'tpl/base-component.html'"/>

    <div ng-include="fileRoot+'tpl/mobile-component-preview.html'"/>

    <div class="rcBottomBlock rcBottomMiddleRight" ng-controller="MobileEditorCtrl" onFocus="blur();">
        <div class="fixedNav white">
            <ul class="nav nav-tabs editComponent">
                <li class="active"><a href="#"><span ng-bind="currentComNameCn?'编辑组件-'+currentComNameCn:'编辑组件'"></span></a></li>
            </ul>
        </div>
        <div ng-include="comTplUrl||(fileRoot+'tpl/component/client/defaultEditor.html')" class="marginForFixedNav"/>
    </div>

    <div ng-include="fileRoot+'tpl/style-design.html'"/>

    <div class="rcBottomBlock rcBottomFix">
        <div class="floatUPWrapper">
            <a class="btn rcBottomFixBtn" ng-click="return2List()">返回列表</a>
            <span class="rcBottomFixFloatRight">
                <table>
                    <tr>
                        <td><a class="btn btn-black" ng-click="return2List()">取消</a></td>
                        <td><a class="btn" ng-click="savePage(content)">保存</a></td>
                        <td><a class="btn" ng-click="publishPage(content)">发布</a></td>
                    </tr>
                </table>
            </span>
        </div>
        <div class="rcBottomFixBg"></div>
    </div>
</div>

<script>
    $(".rcBottomMiddleRight").niceScroll();
    //--Store Selector--Start
    $('.dropdown-toggle').dropdown().on("click", function () {
        var iconClassName = $(this).find("div").attr("class");
        if (iconClassName.indexOf("showDropDown") == -1) {
            $(this).find("div").addClass("showDropDown");
        } else {
            $(this).find("div").removeClass("showDropDown");
        }
    });
    $(".storeSelector li").on("click", function () {
        $(".storeSelector .dropdown-toggle").html($(this).text() + '<div class="ddIcon"></div>');
        $(".storeSelector li").find("a").removeClass("selectedStore");
        $(this).find("a").addClass("selectedStore");
    });
    //--Store Selector--End
</script>