<div class="storeSelectorWrapper" ng-show="shops.length>1">
    <div class="dropdown storeSelector">
        <a id="drop6" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button">
            <span ng-bind="userName"></span>
            <div class="ddIcon"></div>
        </a>
        <ul id="menu3" class="dropdown-menu" aria-labelledby="drop6" role="menu">
            <li role="presentation" ng-repeat="shop in shops track by $index">
                <a class="selectedStore" href="javascript:void(0)" tabindex="-1" role="menuitem" ng-click="changeShop(shop)">
                    <span ng-bind="shop.userName"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div style="position: absolute; bottom:0px; top: 59px;width: 100%; background-color: #fcfcfc;;">
<div class="right-container" style="position: absolute; bottom:0px; top: 0px;width: 100%; left: 0px; background-color: #fcfcfc;">
<div class="active-list">
    <a href="javascript:void(0);" class="btn btnWidthIcon btn-w90 rev-btn-color" onfocus="blur();" ng-click="addContent()">+ 添加页面</a>
    <div class="alw-default-bg" style="display: none;"></div>
    <ul class="al-wrapper clearFix">
        <li class="activity" ng-repeat="con in contentes track by $index">
            <div class="a-header">
                <h4 ng-bind="con.title"></h4>
                <div class="dropdown">
                    <a  href="javascript:void(0);" class="a-edit-menu dropdown-toggle" data-toggle="dropdown" role="button"></a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel" role="menu">
                        <li role="presentation"><a class="selectedStore" ng-href="#/editor/mobile/edit/{{con.cid}}" tabindex="-1" role="menuitem">编辑页面</a></li>
                        <!--<li role="presentation"><a class="selectedStore" href="javascript:void(0)" tabindex="-1" role="menuitem">创建页面副本</a></li>
                        <li role="presentation"><a class="selectedStore" href="javascript:void(0)" tabindex="-1" role="menuitem">复制页面URL地址</a></li>-->
                        <!--<li role="presentation"><a class="selectedStore" href="javascript:void(0)" tabindex="-1" role="menuitem">重命名页面</a></li>-->
                        <li role="presentation"><a class="selectedStore" href="javascript:void(0)" ng-click="remove(con.cid, $index)" tabindex="-1" role="menuitem">删除页面</a></li>
                    </ul>
                </div>
            </div>
            <div class="chart">
                <div class="bg"></div>
                <p>该区域数仔玩命开发中...<br />敬请期待</p><br />
            </div>
            <div class="edit-page">
                <a class="edit-page-btn" ng-href="#/editor/mobile/edit/{{con.cid}}">编辑页面</a>
            </div>
        </li>
    </ul>
</div>
<div class="pop ccmsPublicPop" style="display: none;">
    <div class="pop-content">
        <form name="newContent" id="newContent" novalidate>
            <div class="pop-body">
                <h4>请给这个页面命名</h4>
                <input type="text" name="页面标题" ng-model="content.title" placeholder="最多输入15个字" maxlength=15 required gen-tooltip="validateTooltip" />
            </div>
            <div class="pop-footer">
                <a class="btn closeButton" ng-click="cancelContent(content)">取消</a>
                <a class="btn btnBlue" ng-click="createContent(content.title)">创建页面</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<script>
    $('.dropdown-toggle').dropdown();
   $('.active-list').niceScroll({mousescrollstep:80});
</script>