.ng-cloak {
  display: none !important;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: '微软雅黑';
  color: #2d2d2d;
  letter-spacing: 0.5px;
}
body {
  overflow: hidden;
  /*min-width: 1100px;*/
}
a:link,
a:hover,
avisited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.floatFix {
  clear: both;
}
.clearFix {
  display: block;
  zoom: 1;
}
.clearFix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.btn {
  background: url("../images/btn-bg.png") repeat-x 0px -23px;
  color: #fff;
  line-height: 20px;
  width: 100%;
  padding: 0 10px;
  font-size: 12px;
}
.btn:hover {
  color: #fff;
}
.btn-black {
  background-position: 0px 0px;
}
.btnWidthIcon {
  background-position: 0px -79px;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #e3e3e3;
  height: 25px;
  line-height: 25px;
}
.btnWidthIcon:hover {
  color: #0083ba;
}
.btnWidthIcon .addSignWrapper {
  height: 25px;
  background: url("../images/addIcon.png") no-repeat 1px center;
  text-indent: 15px;
}
.btnWidthIcon div {
  color: #0083ba;
}
.btn-big {
  width: 100px;
  height: 30px;
  background-position: 0 -47px;
  font-size: 13.33px;
  line-height: 30px;
  border-radius: 3px;
}
.btn-big-black {
  background-position: 0 -108px;
}
.btn-icon-black div {
  color: #3d3d3d;
}
.share-btn {
  background: none;
  background-color: #3995bc;
  width: 100%;
}
.share-btn:hover {
  background-color: #60aacb;
}
.btn-w65 {
  width: 65px;
  margin-right: 10px;
}
.btn-w90 {
  width: 90px;
}
.rev-btn-color {
  background: none;
  color: #fff;
  background-color: #0083BA;
}
.rev-btn-color:link,
.rev-btn-color:hover,
.rev-btn-colorvisited {
  color: #fff;
}
.header {
  width: 100%;
  background: url("../images/header-bg-tmp.jpg") repeat-x;
  z-index: 3;
  height: 56px;
}
.mainContain {
  z-index: 1;
}
.nav > li > a {
  padding: 5px 10px;
}
.marginForFixedNav {
  margin-top: 50px;
}
.nav-tabs {
  display: table;
  width: 100%;
  margin-top: 20px;
  height: 28px;
  padding-left: 10px;
  position: relative;
  margin-left: 10px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #fcfcfc;
  font-size: 14px;
  color: #2d2d2d;
}
/*页面定位 start*/
/*页面定位 end*/
.sidebarLeft {
  width: 50px;
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  background-color: #3a3a3a;
  z-index: 20;
}
.allOptions {
  font-size: 11px;
  margin-top: 43px;
}
.allOptions li {
  color: #9b9b9b;
  text-align: center;
  padding: 8px 0 10px 0;
}
.alIcons {
  width: 30px;
  height: 30px;
  margin: 18px 10px 3px 10px;
}
.aoForm .formIcon {
  background: url(../images/sidebarIcons.png) no-repeat -30px 0px;
}
.aoMail .mailIcon {
  background: url(../images/sidebarIcons.png) no-repeat -30px -30px;
}
.aoMobile .mobileIcon {
  background: url(../images/sidebarIcons.png) no-repeat -30px -60px;
}
li.selectedOption {
  background-color: #fcfcfc;
  color: #176290;
}
.selectedOption .formIcon {
  background: url(../images/sidebarIcons.png) no-repeat 0px 0px;
}
.selectedOption .mailIcon {
  background: url(../images/sidebarIcons.png) no-repeat 0px -30px;
}
.selectedOption .mobileIcon {
  background: url(../images/sidebarIcons.png) no-repeat 0px -60px;
}
.rightContain {
  position: absolute;
  top: 56px;
  left: 50px;
  right: 0;
  background-color: #fcfcfc;
}
.rcTop {
  height: 64px;
}
.allSteps {
  color: #b3b3b3;
  margin: 17px auto 0 auto;
  width: 850px;
}
.allSteps li {
  float: left;
  line-height: 30px;
}
.allSteps li .orderNum {
  background-color: #dadada;
  width: 30px;
  heiht: 30px;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-right: 10px;
}
.allSteps li.stepsName {
  font-size: 1.1em;
}
.allSteps li .crossLine {
  width: 180px;
  height: 2px;
  background-color: #dadada;
  margin: 14px 25px 0px 25px;
}
.allSteps li .currentStepNum {
  background-color: #89acc2;
}
.allSteps li.currentStep {
  color: #0078aa;
}
.rcBottom {
  top: 56px;
  bottom: 0;
}
.rcBottomBlock {
  position: absolute;
  bottom: 0;
}
/*-------------------------------------------*/
.rcBottomLeft {
  max-width: 260px;
  margin-left: 20px;
  display: block;
  top: 56px;
  position: inherit;
  padding-bottom: 30px;
}
.rcblTitle {
  height: 22px;
  margin: 0 10px;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 8px;
  font-size: .96em;
}
.arrowStyle {
  background: url("../images/arrowBlack.png") no-repeat 0 0;
  width: 15px;
  height: 15px;
  display: block;
  float: right;
  position: relative;
}
.cArrowUp {
  right: 5px;
  top: 5px;
}
.cArrowDown {
  background-position: 0px -15px;
  right: 5px;
  top: 5px;
}
.basicComponent,
.contactComponent,
.customComponent {
  margin-left: 20px;
}
.basicComponent li {
  width: 65px;
  height: 65px;
  background-color: #fff;
  float: left;
  margin: 10px 10px 0px 0px;
}
.contactComponent li,
.customComponent li {
  width: 65px;
  height: 25px;
  margin: 10px 10px 0px 0px;
  line-height: 25px;
  text-align: center;
  background-color: #fff;
  font-size: .76em;
  float: left;
  color: #2d2d2d;
  z-index: 99999;
}
/*-------------------------------------------*/
.rcBottomMiddle {
  background-color: #dedfdf;
  left: 260px;
  top: 0;
}
.formBody {
  margin: 10px;
  width: 546px;
  background-color: #fff;
  padding-top: 10px;
}
.formBody label {
  display: inline;
  font-weight: normal;
  margin-bottom: 0px;
}
.formBody input.iText,
.formPartSettingPart input.iText {
  width: 70%;
  height: 30px;
}
.formBody h4,
.formPartSettingPart h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.formPartSettingPart h4 {
  font-size: 1.6em;
}
.formPartSettingPart label {
  font-size: 1.3em;
}
input.iCheckbox {
  margin-bottom: 15px;
  vertical-align: -2px;
}
.formBody select.iSelect {
  width: 70%;
}
.iTextarea {
  width: 70%;
  height: 50px;
  font-size: 1.3em;
}
.formPartSelected {
  position: relative;
}
.closeIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  background: url("../images/closeIcon.png") no-repeat;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.formTitle {
  text-align: center;
}
.formTitle h4 {
  font-size: 1.4em;
}
.formTitle p {
  text-align: left;
}
.formPart,
.formPartSettingPart {
  padding: 10px 14px;
  font-size: 0.76em;
}
img#addFile {
  position: relative;
  left: -25px;
  top: 4px;
}
.grade li {
  width: 21px;
  height: 21px;
  background: url("../images/star.png") no-repeat;
  float: left;
}
.splitter {
  width: 340px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 5px;
}
/*-------------------------------------------*/
.rcBottomMiddleRight {
  top: 0;
  bottom: 0;
  left: 826px;
  right: 120px;
}
.formPartSetting {
  margin: 0px 5px;
  background-color: #fff;
  padding: 0;
  height: 100%;
}
h5.rcTabTitle {
  font-weight: 100;
  font-size: 1em;
  padding: 10px 0px 10px 20px;
}
.folderTitle {
  height: 30px;
  background-color: #d0e2f3;
  line-height: 30px;
  text-align: center;
}
.folderTitle span {
  font-size: 1.2em;
  color: #0a4267;
}
.sArrowUp {
  background: url("../images/arrowBlue.png") no-repeat right 8px;
  padding-right: 20px;
}
.sArrowDown {
  background: url("../images/arrowBlue.png") no-repeat right -26px;
  padding-right: 20px;
}
/*-------------------------------------------*/
.rcBottomRight {
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #f6f6f6;
  width: 120px;
}
.cColor li {
  margin: 0 12px 12px 12px;
}
/*-------------------------------------------*/
.rcBottomFix {
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  z-index: 999;
}
.rcBottomFixBg {
  background-color: #000;
  filter: alpha(opacity=80);
  -mozo-opacity: .8;
  opacity: .8;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.floatUPWrapper {
  position: relative;
  z-index: 100;
  margin-top: 10px;
}
.rcBottomFixBtn {
  width: 100px;
  float: left;
  margin-left: 30px;
}
.rcBottomFixFloatRight {
  float: right;
  padding-right: 30px;
}
.rcBottomFixFloatRight .btn {
  float: left;
  margin-left: 15px;
}
.rcBottomFixFloatRight table td {
  padding-right: 10px;
}
.red {
  color: red;
  width: 15px;
}
.fixedNav {
  position: fixed;
  width: 100%;
  z-index: 999;
}
/*Mobile*/
.couponBorder {
  border: 1px dashed #e1e1e1;
}
.rcbMobile {
  top: 56px;
  font-size: 12px;
}
.rcbMobile .contactComponent {
  margin-left: 0px;
}
.rcbMobile .contactComponent li {
  height: 75px;
}
.rcbMobile .contactComponent a {
  width: 65px;
  display: block;
  height: 75px;
  margin: 10px 10px 0px 0px;
  line-height: 25px;
  text-align: center;
  background: url("../images/baseComponent.png") no-repeat 0 1px #ffffff;
  border: 1px solid #e9e9e9;
}
.rcbMobile .contactComponent a div span {
  color: #a2a2a2;
}
.rcbMobile .contactComponent a:hover {
  background-color: #ecf4fb;
  border-color: #7cb3d6;
}
.rcbMobile .contactComponent a div {
  color: #a3a2a2;
  margin-top: 48px;
  font-size: 11px;
}
.rcbMobile .contactComponent a.cctext {
  background-position: -58px 2px;
}
.rcbMobile .contactComponent a.ccimage {
  background-position: 2px -60px;
}
.rcbMobile .contactComponent a.ccshare {
  background-position: -60px -60px;
}
.rcbMobile .rcBottomLeft,
.rcbMobile .rcBottomRight {
  background-color: #fcfcfc;
}
.rcbMobile .rcBottomLeft {
  margin-left: 0px;
}
.rcbMobile .rcBottomLeft .rcblTitle {
  border-bottom: none;
}
.rcbMobile .rcBottomMiddle {
  background-color: #f6f7f8;
}
.rcbMobile .rcBottomMiddleRight {
  background-color: #fff;
  left: 626px;
}
.rcbMobile .basicComponent li {
  background-color: transparent;
}
.rcbMobile .mobile {
  display: block;
  width: 336px;
  height: 693px;
  background: url("../images/mobile-bg.png") no-repeat center;
  margin: 20px 15px 0px 15px;
}
.rcbMobile .mobile .mList,
.rcbMobile .mobile .mListWrapper {
  display: block;
  width: 320px;
  min-height: 450px;
  background-color: #f6f6f6;
}
.rcbMobile .mobile .preview-title {
  position: relative;
  top: 80px;
  left: 19px;
  width: 300px;
  height: 30px;
  background-color: #e3e5e8;
  border-radius: 5px;
  color: #7d7d7d;
  font-size: 16.68px;
  text-align: center;
  line-height: 30px;
}
.rcbMobile .mobile .phr {
  position: relative;
  top: 85px;
  left: 8px;
  width: 320px;
  border-bottom: 1px solid #d8d6d6;
}
.rcbMobile .mobile .mListWrapper {
  position: relative;
  top: 85px;
  left: 8px;
  height: 466px;
}
.rcbMobile .mobile .mList li {
  display: block;
}
.rcbMobile .mobile .mList .mobileImg {
  border: 1px dashed #e1e1e1;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
}
.rcbMobile .mobile .mList .paperwork {
  padding: 10px;
}
.rcbMobile .mobile .mList .paperwork h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.rcbMobile .mobile .mList .paperwork p {
  font-size: 12px;
  line-height: 17px;
}
.rcbMobile .mobile .mList .couponDragArea {
  background-color: #fff;
  height: 99px;
  line-height: 99px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.rcbMobile .mobile .mList .couponDragArea span {
  color: #bbb;
}
.rcbMobile .mobile .mList .cdaSlider {
  height: 175px;
  line-height: 175px;
}
.rcbMobile .mobile .mList .coupon * {
  color: #fff;
}
.rcbMobile .mobile .mList .coupon {
  position: relative;
  background-color: #fff;
}
.rcbMobile .mobile .mList .coupon img {
  border-radius: 120px;
}
.rcbMobile .mobile .mList .coupon .couponWrapper {
  width: 210px;
  display: inline-block;
}
.rcbMobile .mobile .mList .coupon .couponWrapper .denomination {
  font-size: 19px;
  padding: 4px 0 10px 10px;
}
.rcbMobile .mobile .mList .coupon .couponWrapper .denomination .couponTerm {
  display: block;
  float: right;
  margin-right: 13px;
}
.rcbMobile .mobile .mList .coupon .couponWrapper .tips {
  margin: 10px 0px 0px 0px;
}
.rcbMobile .mobile .mList .coupon .couponWrapper .tips .tipOne {
  font-size: 16px;
  margin-left: 10px;
}
.rcbMobile .mobile .mList .coupon .couponWrapper .tips .tipTow {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0px;
  text-indent: 8px;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: left;
  display: block;
  white-space: nowrap;
}
.rcbMobile .mobile .mList .coupon .couponWrapper .couponSplitter {
  width: 90%;
  border-bottom: 1px dashed #fff;
  margin: 5px auto;
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  opacity: .5;
}
.rcbMobile .mobile .mList .coupon .couponWrapper .currencySign {
  font-size: 12px;
}
.rcbMobile .mobile .mList .coupon .getCoupon {
  font-size: 14px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 35px;
  right: 5px;
  background-color: #fff;
}
.rcbMobile .mobile .mList .coupon .getCoupon a {
  color: #434343;
}
.rcbMobile .mobile .mList .coupon .carousel .item {
  width: 100%;
}
.rcbMobile .mobile .mList .coupon .carousel .item .cCoupon {
  padding: 5px;
}
.rcbMobile .mobile .mList .coupon .carousel .item .cCoupon h4 {
  font-size: 17.5px;
  width: 100%;
  text-align: center;
}
.rcbMobile .mobile .mList .coupon .carousel .item .cCoupon .couponSplitter {
  width: 90%;
  border-bottom: 1px dashed #fff;
  margin: 5px auto;
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  opacity: .5;
}
.rcbMobile .mobile .mList .coupon .carousel .item .cCoupon .ccRightWrapper .currencySign,
.rcbMobile .mobile .mList .coupon .carousel .item .cCoupon .ccRightWrapper .cCouponTerm {
  font-size: 17.5px;
}
.rcbMobile .mobile .mList .coupon .carousel .item .cCoupon .ccRightWrapper .mNumber {
  font-size: 50px;
}
.rcbMobile .mobile .mList .coupon .carousel .item .cCoupon .ccRightWrapper .timeLimit {
  font-size: 10.7px;
  -webkit-transform: scale(0.9);
  -webkit-transform-origin: left;
  display: block;
  white-space: nowrap;
}
.rcbMobile .mobile .mList .coupon .carousel .item .getCouponLink {
  width: 100%;
  text-align: center;
}
.rcbMobile .mobile .mList .coupon .carousel .item .getCouponLink a {
  color: #434343;
  font-size: 16px;
  line-height: 40px;
}
.rcbMobile .mobile .mList .coupon .carousel .carousel-indicators {
  bottom: 9px;
  right: 9px;
  left: auto;
  width: auto;
}
.rcbMobile .mobile .mList .coupon .carousel .carousel-indicators .active {
  width: 6px;
  height: 6px;
}
.rcbMobile .mobile .mList .coupon .carousel .carousel-indicators li {
  display: inline-block;
  background-color: #d7d7d7;
  border: none;
  width: 6px;
  height: 6px;
  margin: 0px 5px 0px 0px;
}
.rcbMobile .mobile .mList .coupon .carousel .carousel-indicators li.active {
  background-color: #878787;
  width: 6px;
  height: 6px;
}
.rcbMobile .mobile .mList .share-btn-wrapper {
  background-color: #b3d2e5;
  padding: 5px 0px;
}
.rcbMobile input.iText,
.rcbMobile input.iDate {
  height: 25px;
  width: 100%;
}
.rcbMobile .formBody {
  margin-top: 0px;
  padding-top: 0px;
  width: 70%;
  min-width: 410px;
}
.rcbMobile .formBody .formPart {
  font-size: 12px;
}
.rcbMobile .formBody .formPart h4 {
  font-size: 13px;
}
.rcbMobile .formBody .formPart table {
  width: 106%;
  font-size: 12px;
}
.rcbMobile .formBody .formPart table tr {
  height: 40px;
  line-height: 40px;
}
.rcbMobile .formBody .formPart table tr input {
  vertical-align: middle;
  line-height: 25px;
}
.rcbMobile .formBody .formPart table td.red {
  text-indent: 5px;
}
.rcbMobile .formBody .formPart table .textGoTo {
  line-height: 40px;
  display: block;
  text-align: center;
}
.rcbMobile .formBody .formPart .instructionForCreateCoupon {
  width: 100%;
  height: 300px;
  background: url("../images/createCouponDefaultBg.png") no-repeat 60px 0px;
}
.rcbMobile .formBody .couponAdded {
  padding: 0 14px 5px;
}
.rcbMobile .formBody .couponAdded h5 {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  padding-top: 5px;
}
.rcbMobile .formBody .couponAdded h5 span {
  margin-right: 30px;
}
.rcbMobile .formBody .couponAdded p {
  min-width: 460px;
  margin: 0px;
}
.rcbMobile .formBody .couponAdded img {
  float: right;
  margin-right: 5px;
}
.rcbMobile .rcBottomFixBtn {
  width: 80px;
}
.rcbMobile .editComponent li a {
  background-color: #fff;
}
.oddRow {
  background-color: #f2f2f2;
}
.pink {
  background-color: #ff7e7e;
}
.yellow {
  background-color: #feb93b;
}
.blue {
  background-color: #48b9fb;
}
.green {
  background-color: #55e5a7;
}
.orange {
  background-color: #f0ab60;
}
.grey {
  background-color: #999999;
}
.white {
  background-color: #fff;
}
.light-grey {
  background-color: #fcfcfc;
}
.item-state-default {
  border: 5px solid #f6f6f6;
  border-left-width: 10px;
  border-right-width: 10px;
}
.item-state-default-hover {
  border-color: #edf3f8;
}
.item-state-selected {
  border-color: #cbdee9;
}
.pt30 {
  padding-top: 30px;
}
/*Share Page*/
.sharePageWrapperBg * {
  font-size: 12px;
  color: #000;
}
.sharePageWrapperBg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 56px;
  left: 50px;
  background-color: #fcfcfc;
}
.sharePageWrapperBg .sharePageWrapper {
  width: 530px;
  margin: 10% auto;
  background-color: #fff;
  border: 1px solid #eee;
}
.sharePageWrapperBg .sharePageWrapper .spLeftContainer {
  margin: 40px 25px 40px 40px;
  float: left;
}
.sharePageWrapperBg .sharePageWrapper .spLeftContainer h4 {
  margin-bottom: 10px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer {
  padding-top: 75px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .shareLabel {
  display: block;
  float: left;
  margin-right: 5px;
  line-height: 32px;
  height: 32px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .shareToClint {
  height: 30px;
  line-height: 30px;
  color: #2d2d2d;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .shareInput {
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .btn {
  display: inline-block;
  width: 70px;
  margin-right: 20px;
  color: #fff;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon {
  display: block;
  margin-left: 5px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon li {
  float: left;
  margin-left: 10px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon li a {
  display: block;
  width: 28px;
  height: 28px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon li a span {
  background: url("../images/share-icon-small.png") no-repeat;
  display: block;
  width: 28px;
  height: 28px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon li .jiathis_button_tsina span {
  background-position: 0px 0px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon li .jiathis_button_tqq span {
  background-position: 0px -38px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon li .jiathis_button_qzone span {
  background-position: 0px -76px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .share-icon li .jtico_jiathis {
  background: url("../images/share-icon-small.png") no-repeat 0px -114px;
}
.sharePageWrapperBg .sharePageWrapper .spRightContainer .blue-link {
  text-decoration: underline;
  color: #30aee7;
  cursor: pointer;
  margin-right: 30px;
}
/*storeSelector*/
.storeSelectorWrapper {
  position: absolute;
  z-index: 10000;
  right: 10px;
}
.storeSelectorWrapper * {
  font-size: 12px;
  color: 5a5a5a;
}
.storeSelectorWrapper .storeSelector .dropdown-toggle {
  width: 160px;
  height: 26px;
  background: url("../images/storeSelectorIcon.png") no-repeat 10px 3px #f0f0f0;
  text-indent: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  line-height: 26px;
  color: #5a5a5a;
}
.storeSelectorWrapper .storeSelector .dropdown-toggle:hover {
  background-color: #e4e4e4;
}
.storeSelectorWrapper .storeSelector .dropdown-toggle:hover .ddIcon {
  background-position: 0px -57px;
}
.storeSelectorWrapper .storeSelector .dropdown-toggle:hover .showDropDown {
  background-position: 0px -18px;
}
.storeSelectorWrapper .storeSelector .dropdown-toggle .ddIcon {
  width: 20px;
  height: 20px;
  background: url("../images/storeSelectorIcon.png") no-repeat 0px -38px;
  float: right;
  margin-right: 5px;
}
.storeSelectorWrapper .storeSelector .dropdown-toggle .showDropDown {
  background-position: 0px -18px;
}
.storeSelectorWrapper .storeSelector .dropdown-menu {
  background-color: #f0f0f0;
  box-shadow: none;
  border: none;
  margin-top: -5px;
  padding-top: 10px;
}
.storeSelectorWrapper .storeSelector .dropdown-menu li > a {
  text-indent: 10px;
}
.storeSelectorWrapper .storeSelector .dropdown-menu li > a:hover {
  background-color: #e4e4e4;
  color: #0078aa;
}
.storeSelectorWrapper .storeSelector .dropdown-menu .selectedStore {
  background: url("../images/storeSelectorIcon.png") no-repeat 10px 2px;
}
.mobile-view {
  /*width: 640px;*/
  margin: 0 auto;
  background-color: #f6f6f6;
  font-family: "黑体";
  font-size: 1em;
}
.mobile-view .coupon *,
.mobile-view .carousel * {
  color: #fff;
}
.mobile-view img {
  border-radius: 120px;
}
.mobile-view .row {
  margin: 0;
}
.mobile-view .coupon {
  margin: 10px;
  background-color: #fff;
  vertical-align: middle;
}
.mobile-view .coupon .coupon-left {
  width: 77%;
  height: 12.5em;
}
.mobile-view .coupon .store-name {
  font-size: 1.875em;
  margin-top: 0.625em;
  margin-left: 1.25em;
}
.mobile-view .coupon .time-limit {
  font-size: 1.25em;
  line-height: 1.875em;
  margin-left: 1.25em;
}
.mobile-view .coupon .coupon-splitter {
  border-bottom: 1px dashed #fff;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  margin: 0.3125em auto;
}
.mobile-view .coupon .currency-sign {
  font-size: 1.5em;
  margin-left: 1.25em;
}
.mobile-view .coupon .price-number {
  font-size: 2.8125em;
  font-family: "Arial";
}
.mobile-view .coupon .coupon-term {
  font-size: 2.25em;
  line-height: 170%;
  margin-right: 1.25em;
}
.mobile-view .coupon .coupon-right {
  color: #434343;
  text-align: center;
  line-height: 10em;
  font-size: 1.25em;
  display: block;
}
.mobile-view .coupon .store-brand {
  margin: 0.625em 1.25em 0px 0.625em;
}
.mobile-view .coupon .store-brand img {
  width: 4.375em;
  height: 4.375em;
  margin-top: 0.625em;
  margin-left: 1.25em;
}
.mobile-view .carWrapper {
  margin: 10px;
}
.mobile-view .carousel {
  background-color: #fff;
  text-align: center;
  padding: 0;
}
.mobile-view .carousel .detail-wrapper {
  height: 17.5em;
}
.mobile-view .carousel .store-name {
  font-size: 2.25em;
  margin: 0.8333333em auto;
}
.mobile-view .carousel .coupon-splitter {
  border-bottom: 1px dashed #fff;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.mobile-view .carousel .currencySign,
.mobile-view .carousel .cCouponTerm {
  font-size: 2.25em;
}
.mobile-view .carousel .cCouponTerm {
  position: relative;
  top: 2.5475em;
  left: 1em;
  font-size: 2em;
}
.mobile-view .carousel .mNumber {
  font-size: 7em;
  font-family: "Arial";
}
.mobile-view .carousel .timeLimit {
  font-size: 1.375em;
  position: relative;
  top: -1.13636364em;
  clear: both;
}
.mobile-view .carousel .carousel-indicators {
  bottom: 1.375em;
  right: 0.8125em;
  left: auto;
  width: auto;
  padding: 0;
  margin: 0;
}
.mobile-view .carousel .carousel-indicators li {
  border: none;
  background-color: #d7d7d7;
  border-radius: 120px;
  width: 12px;
  height: 12px;
  margin: 0 3px 0 0;
}
.mobile-view .carousel .carousel-indicators li.active {
  background-color: #878787;
  width: 12px;
  height: 12px;
}
.mobile-view .carousel .ccRightWrapper {
  width: 27em;
  margin: 0 auto;
  text-align: center;
}
.mobile-view .carousel .no-pic .store-brand {
  margin: 1.875em 1.25em 0 1.25em;
}
.mobile-view .carousel .no-pic .store-brand img {
  width: 7.5em;
  height: 7.5em;
}
.mobile-view .carousel .no-pic .ccRightWrapper {
  width: auto;
  margin-left: 20px;
}
.mobile-view .carousel .no-pic .all-info-wrapper {
  width: 43.75em;
  text-align: center;
  margin: 0 auto;
}
.mobile-view .carousel .no-pic .timeLimit {
  font-size: 1.375em;
  position: relative;
  top: -1.13636364em;
  left: -1.13636364em;
  clear: both;
}
.mobile-view .getCouponLink {
  width: 100%;
  font-size: 1.75em;
  color: #434343;
  text-align: center;
  line-height: 2.8571428em;
  background-color: #fff;
  display: block;
}
/*  Activity List Page  */
.active-list {
  margin: 15px 0 0 90px;
  position: absolute;
  top: 0;
  bottom: 0;
}
.active-list .al-scroll-wrapper {
  position: absolute;
  bottom: 0px;
}
.active-list .alw-default-bg {
  background: url("../images/activity-list-default-bg.jpg") no-repeat 10px 10px;
  width: 900px;
  height: 550px;
}
.active-list .al-wrapper {
  margin: 15px 0px 0px 0px;
}
.active-list .al-wrapper li.activity {
  width: 350px;
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  margin: 0px 40px 30px 0px;
  float: left;
}
.active-list .al-wrapper li.activity .a-header {
  margin: 5px 15px 0px 15px;
  position: relative;
  border-bottom: 1px solid #eee;
}
.active-list .al-wrapper li.activity .a-header h4 {
  color: #3a3a3a;
  font-size: 14px;
  display: inline-block;
}
.active-list .al-wrapper li.activity .a-header .dropdown {
  position: absolute;
  top: 5px;
  right: 0px;
}
.active-list .al-wrapper li.activity .a-header .dropdown .a-edit-menu {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../images/al-edit-menu-bg.png') no-repeat;
}
.active-list .al-wrapper li.activity .a-header .dropdown .a-edit-menu:hover {
  background-color: #f1f2f7;
}
.active-list .al-wrapper li.activity .a-header .dropdown .dropdown-menu {
  left: -65px;
  min-width: 99px;
}
.active-list .al-wrapper li.activity .a-header .dropdown .dropdown-menu li > a {
  color: #3a3a3a;
  font-size: 12px;
  line-height: 20px;
}
.active-list .al-wrapper li.activity .a-header .dropdown .dropdown-menu li > a:hover {
  background-color: #f1f2f7;
}
.active-list .al-wrapper li.activity .a-header .open .a-edit-menu {
  background-color: #f1f2f7;
}
.active-list .al-wrapper li.activity .chart {
  margin: 0px 15px;
  text-align: center;
}
.active-list .al-wrapper li.activity .chart .bg {
  background: url("../images/activity-item-bg.png") no-repeat;
  width: 97px;
  height: 90px;
  margin: 20px auto 10px;
}
.active-list .al-wrapper li.activity .chart p {
  font-size: 14px;
  color: #d7d7d7;
}
.active-list .al-wrapper li.activity .edit-page {
  height: 45px;
  background-color: #f6f6f6;
  text-align: center;
}
.active-list .al-wrapper li.activity .edit-page:hover {
  background-color: #f1f1f1;
}
.active-list .al-wrapper li.activity .edit-page .edit-page-btn {
  line-height: 45px;
  color: #777;
  font-size: 14px;
  background: url("../images/al-edit-btn-bg.png") no-repeat left center;
  text-indent: 25px;
  display: inline-block;
}
.pop .pop-content {
  position: relative;
  background-color: #f8f8f8;
  width: 500px;
  margin: 0 auto;
}
.pop .pop-content .pop-body {
  text-align: center;
}
.pop .pop-content .pop-body h4 {
  font-size: 18px;
  color: #868686;
  margin: 35px 0px 20px 0px;
}
.pop .pop-content .pop-body input {
  width: 350px;
  margin-bottom: 35px;
  height: 25px;
  color: #3a3a3a;
}
.pop .pop-content .pop-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e9e9e9;
  height: 55px;
}
.pop .pop-content .pop-footer .btn {
  width: 100px;
  float: right;
  margin: 13px 10px 0 0;
}
/*share-mobile-page*/
.share-mobile-page {
  font-size: 1em;
}
.share-mobile-page .share-mobile-page-wrapper {
  background-color: #fff;
  padding: 35px 20px 0px 20px;
}
.share-mobile-page .col-sm-12 {
  text-align: center;
}
.share-mobile-page .fxd {
  font-size: 3.875em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}
.share-mobile-page .share-icon {
  margin-right: 1.6em;
  width: 8em;
  height: 8em;
  cursor: pointer;
}
.share-mobile-page .qr-code {
  margin: 2.5em 0px;
}
.share-mobile-page .qr-code img {
  width: 23.125em;
  height: 23.125em;
}
.share-mobile-page .info {
  font-size: 3.875em;
  font-family: '黑体';
  margin-bottom: 2.5em;
}
.share-mobile-page .copy-link {
  text-align: left;
  font-family: '黑体';
  font-size: 3.5em;
  color: #8d8d8d;
  margin-bottom: 0.5em;
}
.share-mobile-page .link-input {
  margin-bottom: 4.8125em;
}
.share-mobile-page .link-input p {
  border: 1px solid #d9d9d9;
  width: 100%;
  font-size: 3.5em;
  color: #ababab;
  line-height: 2.064287820701858em;
}
.share-mobile-page .btn-area {
  margin-bottom: 4.25em;
}
.share-mobile-page .btn-area .btn-mobile-blue {
  background: none;
  background-color: #2494c6;
  background-image: -webkit-linear-gradient(#31b1eb, #2494c6);
  background-image: -moz-linear-gradient(#31b1eb, #2494c6);
  background-image: -o-linear-gradient(#31b1eb, #2494c6);
  background-image: -ms-linear-gradient(#31b1eb, #2494c6);
  background-image: -chrome-linear-gradient(#31b1eb, #2494c6);
  background-image: linear-gradient(#31b1eb, #2494c6);
  line-height: 2.06428em;
  font-size: 3.119375em;
  border-radius: 0.3125em;
  vertical-align: middle;
  display: block;
  width: auto;
}
.share-mobile-page .info-footer {
  background-color: #f6f6f6;
  font-size: 2.5em;
  font-family: '黑体';
  line-height: 4.375em;
}
.share-mobile-page .info-footer p {
  color: #b0b0b0;
}
.share-mobile-page .info-footer .fc-blue {
  color: #279bce;
}
@media (max-width: 540px) {
  .mobile-view {
    font-size: 0.84375em;
  }
}
@media (max-width: 360px) {
  .mobile-view {
    font-size: 0.5625em;
  }
}
@media (max-width: 320px) {
  .mobile-view {
    font-size: 0.5em;
  }
}
@media (max-width: 1200px) {
  .share-mobile-page {
    font-size: .7em;
  }
}
@media (max-width: 960px) {
  .share-mobile-page {
    font-size: .5em;
  }
}
@media (max-width: 730px) {
  .share-mobile-page {
    font-size: .4em;
  }
}
@media (max-width: 340px) {
  .share-mobile-page {
    font-size: .3em;
  }
}
@media (max-width: 1200px) {
  .rcBottomRight {
    display: none;
  }
  .rcBottomMiddleRight {
    right: 0;
  }
}
.ccmsPublicPop .btn {
  background: none;
  width: 100px;
  font-family: "microsoft Yahei";
  margin: 5px;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 28px;
  *line-height: 34px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #8a8a8a;
  *background-color: #8a8a8a;
  background-image: -ms-linear-gradient(top, #9a9a9a, #777777);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9a9a9a), to(#777777));
  background-image: -webkit-linear-gradient(top, #9a9a9a, #777777);
  background-image: -o-linear-gradient(top, #9a9a9a, #777777);
  background-image: linear-gradient(top, #9a9a9a, #777777);
  background-image: -moz-linear-gradient(top, #9a9a9a, #777777);
  background-repeat: repeat-x;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#9a9a9a', endColorstr='#777777', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ccmsPublicPop .btn:hover {
  background-color: #9b9b9b;
  *background-color: #9b9b9b;
  background-image: -ms-linear-gradient(top, #aaaaaa, #a9a9a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#a9a9a9));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #a9a9a9);
  background-image: -o-linear-gradient(top, #aaaaaa, #a9a9a9);
  background-image: linear-gradient(top, #aaaaaa, #a9a9a9);
  background-image: -moz-linear-gradient(top, #aaaaaa, #a9a9a9);
}
.ccmsPublicPop .btn:active {
  background-color: #9b9b9b;
  *background-color: #9b9b9b;
  background-image: -ms-linear-gradient(top, #8d8d8d, #8e8e8e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8d8d8d), to(#8e8e8e));
  background-image: -webkit-linear-gradient(top, #8d8d8d, #8e8e8e);
  background-image: -o-linear-gradient(top, #8d8d8d, #8e8e8e);
  background-image: linear-gradient(top, #8d8d8d, #8e8e8e);
  background-image: -moz-linear-gradient(top, #8d8d8d, #8e8e8e);
}
.ccmsPublicPop .btnBlue {
  color: #fff;
  background-color: #2ba4da;
  *background-color: blue;
  background-image: -ms-linear-gradient(top, #31b1eb, #2495c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31b1eb), to(#2495c7));
  background-image: -webkit-linear-gradient(top, #31b1eb, #2495c7);
  background-image: -o-linear-gradient(top, #31b1eb, #2495c7);
  background-image: -moz-linear-gradient(top, #31b1eb, #2495c7);
  background-image: linear-gradient(top, #31b1eb, #2495c7);
  background-repeat: repeat-x;
  border-color: #2495c7 #2495c7 #29abe2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#31b1eb', endColorstr='#2495c7', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.ccmsPublicPop button.btnBlue:hover,
.ccmsPublicPop a.btnBlue:hover {
  background-color: #3dbaf2;
  *background-color: blue;
  background-image: -ms-linear-gradient(top, #47c1f8, #31b1eb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47c1f8), to(#31b1eb));
  background-image: -webkit-linear-gradient(top, #47c1f8, #31b1eb);
  background-image: -o-linear-gradient(top, #47c1f8, #31b1eb);
  background-image: -moz-linear-gradient(top, #47c1f8, #31b1eb);
  background-image: linear-gradient(top, #47c1f8, #31b1eb);
}
.ccmsPublicPop button.btnBlue:active,
.ccmsPublicPop a.btnBlue:active {
  background-color: #3cb9f1;
  *background-color: blue;
  background-image: -ms-linear-gradient(top, #31b1eb, #47c1f8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31b1eb), to(#47c1f8));
  background-image: -webkit-linear-gradient(top, #31b1eb, #47c1f8);
  background-image: -o-linear-gradient(top, #31b1eb, #47c1f8);
  background-image: -moz-linear-gradient(top, #31b1eb, #47c1f8);
  background-image: linear-gradient(top, #31b1eb, #47c1f8);
}
/***** 修改tooltip弹出层背景色 --start ******/
.tooltip-inner {
  background-color: #d9534f;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #d9534f;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #d9534f;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #d9534f;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #d9534f;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #d9534f;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #d9534f;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #d9534f;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #d9534f;
}
/***** 修改tooltip弹出层背景色 --end ******/
.daterangepicker * {
  font-size: 11px;
}
.daterangepicker .btn-success,
.daterangepicker .btn-default {
  width: 65px;
  float: left;
}
.daterangepicker .btn-success {
  margin-right: 20px;
}
.margin-5-0 {
  margin: 5px 0px;
}
